


.debug {
    /* width: 100px; */
    height: 100px;
    background-color: black;
    border: 3px solid red;
}

.header{
   padding: 15px;
   display: flex;
}
.logo {
   height: 50px;
}

.height-custom{
    height: calc(100% - 80px);
}
.space-between {
    justify-content: space-between;
}

.text-left {
    text-align: left;
}
.bg-side {
    background-color:#10273D ;
}

.text-yellow {
    color: orange;
}
.gr{
    width: 70%;
}

.top {
margin-top: 20px;
}
.left {
    margin-left: 10px;
}
.top-1 {
    margin-top: 24px;
}
 
/* main */

.basis-blue {
    height: calc(100% -180px);
    background-color: blue;
    
}